h1, h2, h3, h4, h5, h6 {
    color: rgb(200, 200, 214);
}
.center {
    position: relative;
    display: flex;
    top: 45vh;
}
#wide {
    position: relative;
    width: 50vw;
    height: 20px;
    right: 5vw;
    display:inline-block;
}
#submit {
    position: relative;
    width: 20px;
    height: 20px;
    display:inline-block;
}
